.transaction-history-table{
    box-shadow: 0 0 10px 1px gray;
    height: auto;
   margin: 50px;
   background-color: white;
}
.transaction-row{
    box-shadow: 0 0 1px 0.1px gray;
    /* border: 0.2px solid gray;
    height: auto;
    padding: 10px 20px;
    position: relative; */
    height: 40px;
    /* color: white; */
    border: none;
    padding: 10px;
    
    display: flex;
    /* background-color: #b6b6f9; */
    /* background-color: rgb(74, 179, 249); */
   justify-content: space-evenly;
}
.amount{
   
    
}
.date{
 
    width: 110px;
    display: flex;
    justify-content: flex-start;
}
.credit-amount{
    color: green;
}
.top{

    margin-top: 10px;
}
.debit-amount{
    color: red;
}
.edit-icon{
    cursor: pointer;
}
.blance-container{
    box-shadow: 0 0 10px 0.5px gray;
    margin-top: 50px;
    height: 40px;
   border-radius: 10px;
    border: none;
    padding: 10px;
    display: flex;
    margin:40px  80px;
    /* background-color: #b6b6f9; */
    /* background-color: rgb(74, 179, 249); */
   justify-content: space-evenly;
}
.available-balance{
    color: orange;
}